{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="row justify-content-center" >
  <div class="col-lg-4">
    <h3 style="text-align: center;"><span class="badge badge-success">{% trans "Sign In" %}</span></h3>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a class="btn btn-primary btn-sm" href="{{ signup_url }}">sign up</a>
for an {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <!-- <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul> -->
  <a href="{% provider_login_url 'google' %}"><button class="btn btn-dark btn-sm "><i class="fa fa-google" style="font-size: 15px;"></i> Google Login</button></a>
  <!-- <a href=""><button class="btn btn-primary btn-sm "><i class="fa fa-facebook-official" style="font-size: 20px;"></i> Facebook Login</button></a> -->
  <a href="{% provider_login_url 'github' %}"><button class="btn btn-secondary btn-sm "><i class="fa fa-github" style="font-size: 20px;"></i> Github Login</button></a>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet,</p><p> then please
<a class="btn btn-primary btn-sm" href="{{ signup_url }}">Sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input  type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction btn btn-danger btn-sm" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <br>
  <button class="primaryAction btn btn-success btn-sm my-1" type="submit">{% trans "Sign In" %}</button>
</form>

  </div>
</div>
{% endblock %}