{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background: url('/static/images/b.jpg') no-repeat bottom fixed; 
background-size: cover;min-height: 60vh;margin: 0;">
<h1 class="text-center text-light" style="font-family: var(--font-2);font-weight: 500;letter-spacing: 3px;">Welcome To Quick Response</h1>
<h4 class="text-center text-light">A Modern Educational Platform For Solving Your Problems</h4>
<div class="text-center">
    <button class="btn btn-outline-success font-weight-bold">Get Started</button>
</div>
</div>
<div  class="bg-light">
  <div class="container pt-4 pb-4">
    <div class="row align-items-center">
      <div class="col-lg-8 pb-2 my_fade1">
        <h3 style="font-family: var(--font-1);" class="text-center font-weight-bold">Quick Response Platform</h3>
        <p class="home_p">Are you stuck on a problem? Can't find the answer anywhere? Then here we are raedy to give a Quick Response in your problem. Our platform is an educational platform for solving your problems. So, don't worry and oviously don't hesitate to post your problems here. </p>
        <div class="text-center">
          <button class="btn btn-primary btn-sm">Get Started</button>
        </div>
      </div>
      <div class="col-lg-4 my_fade2">
        <div class="home-img text-center">
          <img style="max-width: 200px; width: 100%;" src="{% static 'images/home_banner.png' %}" alt="computer">
      </div>
      </div>
    </div>
    
    
  </div>
</div>
<div class="features" style="background-color: rgb(235, 232, 232);">
  <div class="container py-4">
    <h2 class="text-center font-weight-bold pb-2" style="font-family: var(--font-1);">Features To Explore</h2>
    <div class="row">
      <div class="owl-carousel feature-carousel">

          <div class="card bg-light my_fade_main">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Fast Solution <i class="fa fa-comment"></i></h5>
              <p class="card-text">User can post a problem with problem type tag. Then he/she will get a solution if others are able to answer.</p>
              
            </div>
          </div>
        

          <div class="card bg-light my_fade_main">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Notifications <i class="fa fa-bell"></i></h5>
              <p class="card-text">User will be notified if someone interacts with the problem/solution that user has posted.</p>
              
            </div>
          </div>
        

          <div class="card bg-light my_fade_main">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">User Freindly <i class="fa fa-child"></i></h5>
              <p class="card-text">This platform is fully user friendly and interactive. You can view as a social media that focuses on educational sector. </p>
              
            </div>
          </div>
        
          <div class="card bg-light my_fade_main">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Points <i class="fa fa-star"></i></h5>
              <p class="card-text">By getting votes, best answer on your solution will get you some points. There is a points table for showing the points.</p>
            </div>
          </div>
        
      </div>
      
    </div> 
  </div>
     
</div>
{% endblock %}