<script>
  //publish problem
  $('#post_form').submit(function (e) {
    e.preventDefault();
    for (var instance in CKEDITOR.instances)
      CKEDITOR.instances[instance].updateElement();
    $.ajax({
      url: "{% url 'create_problem' %}",
      method: "POST",
      data: $(this).serialize(),
      success: function (data) {
        console.log(data)
        if (data["status"] == 'success') {
          console.log('yooo');
          console.log(data.problem_data);
          console.log(data.problem_data.title);
          var i, output, msg, tag_output='', status_output;
          // for(i in data.problem_data.tags){
          //   console.log(i);
          // }
          msg = '<p class="alert alert-success alert-dismissible font-weight-bold mt-3"><button type="button" class="close" data-dismiss="alert">&times;</button>Successfully Published</p>'

          $(msg).hide().appendTo("#post_form").fadeIn("slow");

          if (data.problem_data.is_solved == false) {
            status_output = '<button class="btn btn-danger btn-sm py-0">Unsolved</button>';
          } else {
            status_output = '<button class="btn btn-success btn-sm py-0">Solved</button>';
          }

          for (i in data.problem_data.tags) {
            tag_output += '<h6 class="d-inline-block mr-1"><span class="badge badge-secondary">' + data.problem_data.tags[i] + '</span></h6>'
          }
          
          output = '<div class="row p-1" style=""><div class="col-lg-3"><div class="row text-center"><div class="col-6"><h6 style="border-bottom: 1px solid grey; margin: 0px 25px">Status</h6>' + status_output + '</div><div class="col-6"><h6 style="border-bottom: 1px solid grey; margin: 0px 15px">Solutions</h6 ><button class="btn btn-warning btn-sm py-0">4</button></div ></div ></div><div class="col-lg-9"><a href="/problems/'+data.problem_data.id+'/details" style="text-decoration: none;font-weight: 500;font-size: large;display: inline-block;">'+data.problem_data.title+'</a><div class="row"><div class="col-7 text-left">'+ tag_output +'</div><div class="col-5 text-right"><h6 style="font-size: small">Published At '+data.problem_data.date+' By <a style="text-decoration: none;" href="">'+data.problem_data.author+'</a></h6></div></div></div></div><hr class="bg-info my-2"/>';

          $(output).hide().prependTo("#problem_list").fadeIn(1500);

        }else{
          console.log(data);
          var i, j;
          for (i in data) {
            for (j in data[i]) {
              //   console.log(data[i][j]);
              var output = '<p class="alert alert-danger alert-dismissible font-weight-bold"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' + i+': '+data[i][j] + '</p>';
              $(output).hide().appendTo("#post_form").fadeIn("slow");
            }
          }
        }
      }
    })
  })
</script>
