{% extends "base.html" %} {% load static %} {% block content %}
<div style="background-color: whitesmoke;" id="post_section">
    <div class="container">
        <div id="create_post">
            <div class="text-right">
                <button class="btn btn-primary py-1 m-1" id="publish_problem_btn">
                    Publish A Problem
                </button>
                <!-- <div class="custom-control custom-switch d-inline-block">
                    <input type="checkbox" class="custom-control-input" id="dark_mode" />
                    <label class="custom-control-label" for="dark_mode" style="font-weight: 600">Dark Mode</label>
                </div> -->
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <form action="{% url 'create_problem' %}" method="POST" class="p-2" id="post_form"
                        style="font-weight: 400">
                        {% csrf_token %} {{post_form.media}} {{post_form}}
                        <input type="submit" value="Publish" class="btn btn-success btn-sm my-1" />
                    </form>
                    <div id="post_form_noti">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="post_list">
            <h4 class="text-center alert alert-primary font-weight-bold py-1 mb-2">
                Top Problems
            </h4>
            <div class="text-right" style="overflow-x: auto">
                <div class="btn-group btn-group-sm">
                    {% with request.resolver_match.url_name as url_name %}
                    <a href="{% url 'prob_home' %}"
                        class="{% if url_name == 'prob_home' %}btn btn-info btn-sm{% else %}btn btn-outline-info btn-sm{% endif %}">
                        Latest
                    </a>
                    <a href="{% url 'sort_oldest' %}"
                        class="{% if url_name == 'sort_oldest' %}btn btn-info btn-sm{% else %}btn btn-outline-info btn-sm{% endif %}">
                        Oldest
                    </a>
                    <a href="{% url 'sort_unsolved' %}"
                        class="{% if url_name == 'sort_unsolved' %}btn btn-info btn-sm{% else %}btn btn-outline-info btn-sm{% endif %}">
                        Unsolved
                    </a>
                    <a href="{% url 'sort_solved' %}"
                        class="{% if url_name == 'sort_solved' %}btn btn-info btn-sm{% else %}btn btn-outline-info btn-sm{% endif %}">
                        Solved
                    </a>
                    <!-- <button type="button" class="btn btn-outline-info btn-sm">
                        Less Solution
                    </button>
                    <button type="button" class="btn btn-outline-info btn-sm">
                        More Solution
                    </button> -->
                    <button type="button"
                        class="{% if url_name == 'sort_tag' %}btn btn-info btn-sm{% else %}btn btn-outline-info btn-sm{% endif %}"
                        data-toggle="modal" data-target="#tag_modal">
                        Tag
                    </button>
                    {% endwith %}
                </div>
            </div>
            <div class="modal fade" id="tag_modal">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-light">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title font-weight-bold">Select Tag</h4>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <input class="form-control mb-1" id="search_tag_input" type="text"
                                placeholder="Search For Tag..." />
                            <form action="{% url 'sort_tag' %}" method="POST" id="tag_list_form">
                                {% csrf_token %}
                                <div id="tag_list_modal" style="height: 200px; overflow-y: scroll">
                                    {% for tag in tags %}
                                    <div class="form-check">
                                        <label class="form-check-label" for="check1">
                                            <input type="checkbox" class="form-check-input" id="check1"
                                                name="tag_choice" value="{{tag.name}}" />{{tag.name}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <input type="submit" class="btn btn-success btn-sm mt-2" value="Submit">
                            </form>
                            <script>
                                $(document).ready(function () {
                                    $('#id_title').removeAttr('required');
                                    $("#search_tag_input").on("keyup", function () {
                                        var value = $(this).val().toLowerCase();
                                        $("#tag_list_modal label").filter(function () {
                                            $(this).toggle(
                                                $(this).text().toLowerCase().indexOf(value) > -1
                                            );
                                        });
                                    });

                                    $("#tag_list_modal label")
                                        .find("input[type=checkbox]")
                                        .click(function () {
                                            if ($(this).prop("checked") == true) {
                                                var value = $(this).parent().text();
                                                $("#search_tag_input").before(
                                                    '<h6 class="d-inline-block mx-1"><span class="badge badge-info">' +
                                                    value +
                                                    "</span></h6>"
                                                );
                                            } else {
                                                console.log('test');
                                                var value = $(this).parent().text();
                                                console.log(value)
                                                $("#tag_list_form")
                                                    .siblings("h6")
                                                    .each(function () {
                                                        console.log($(this).text());
                                                        if ($(this).text() == value) {
                                                            $(this).remove();
                                                        }
                                                    });
                                            }
                                        });
                                });
                            </script>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% if not problems %}
            <h5 class="alert alert-danger text-center my-2">Sorry!!! No Problems Found.</h5>
            {% endif %}
            <div id="problem_list" class="pt-2">
                {% for problem in problems %}
                <div class="row p-1">
                    <div class="col-lg-3">
                        <div class="row text-center">
                            <div class="col-6">
                                <h6 style="border-bottom: 1px solid grey; margin: 0px 25px">
                                    Status
                                </h6>
                                {% if problem.is_solved %}
                                <button class="btn btn-success btn-sm py-0">Solved</button>
                                {% else %}
                                <button class="btn btn-danger btn-sm py-0">Unsolved</button>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <h6 id="prob_index_sol">
                                    Solutions
                                </h6>
                                <button class="btn btn-warning btn-sm py-0">{{problem.solution_set.count}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <a href="{% url 'problem_details' problem.id %}" style="
              text-decoration: none;
              font-weight: 500;
              font-size: large;
              display: inline-block;
            ">{{problem.title}}</a>
                        <div class="row">
                            <div class="col-7 text-left">
                                {% for tag in problem.tag.all %}
                                <h6 class="d-inline-block">
                                    <span class="badge badge-secondary">{{tag.name}}</span>
                                </h6>
                                {% endfor %}
                            </div>
                            <div class="col-5 text-right">
                                <h6 style="font-size: small">
                                    Published At {{problem.created_on}} By <a style="text-decoration: none;"
                                        href=''>{{problem.author}}</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="bg-info my-2" />
                {% endfor %}
            </div>
        </div>

        {% if problems.has_other_pages %}
        <div>
            <ul class="pagination justify-content-center p-2">
                {% if problems.has_previous %}
                <li class="page-item"><a class="page-link bg-secondary text-light"
                        href="?page={{ problems.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for i in problems.paginator.page_range %}
                {% if problems.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link bg-dark text-light" href="?page={{ i }}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
                {% if problems.has_next %}
                <li class="page-item"><a class="page-link bg-secondary text-light"
                        href="?page={{ problems.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% include "ajax/problem_index.html" %}
{% endblock %}