{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="background-color: whitesmoke;overflow-x: hidden;" id="post_section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 p-2">
                <div class="vote_noti">
                </div>
                <h5 class="text-center">{{problem.title}}</h5>
                <div class="row text-center">
                    <div class="col-lg-4">
                        <h6 style="font-size: small;">Published By: <a href="{% url 'profile_view' problem.author.id %}"
                                style="text-decoration: none;">{{problem.author}}</a></h6>
                    </div>
                    <div class="col-lg-4">
                        <h6 style="font-size: small;">Published At {{problem.created_on}}</h6>
                    </div>
                    <div class="col-lg-4 problem_status">
                        {% if problem.is_solved %}
                        <h6 style="font-size: small;">Status: <span class="text-success font-weight-bold">Solved</span>
                        </h6>
                        {% else %}
                        <h6 style="font-size: small;">Status: <span class="text-danger font-weight-bold">Unsolved</span>
                        </h6>
                        {% endif %}
                    </div>
                </div>
                <p>{{problem.body|safe}}</p>
                {% if request.user == problem.author %}
                <button class="btn btn-primary btn-sm py-0" data-toggle="modal" data-target="#myModal"><i
                        class="fa fa-pencil-square-o"></i>
                    Edit</button>
                <a href="{% url 'delete_problem' problem.id %}"><button class="btn btn-danger btn-sm py-0"><i
                            class="fa fa-trash"></i> Delete</button></a>
                {% endif %}


                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark text-light">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold text-info">Edit Problem</h5>
                                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <form action="{% url 'edit_problem' problem.id %}" method="POST">
                                    {% csrf_token %}
                                    {{update_post_form}}
                                    <button type="submit" class="btn btn-info">Edit</button>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% if edit %}
                <p class="alert alert-info alert-dismissible font-weight-bold text-center"><button type="button" class="close"
                        data-dismiss="alert">&times;</button>{{edit}}</p>
                {% endif %}
                {% for tag in problem.tag.all %}
                <h6 class="d-inline-block">
                    <span class="badge badge-secondary p-1">{{tag.name}}</span>
                </h6>
                {% endfor %}
                <br>
                <div class="ml-3">
                    <hr class="m-0">
                    <div id="cmt_p_list">
                        {% if problem.cmts_p.all %}
                        {% for cmt in problem.cmts_p.all %}
                        <div id="cmt_content">
                            <p class="py-1 pl-2 m-0 d-inline"><span id="cmt_body">{{cmt.c_body}}</span> | <a href="{% url 'profile_view' cmt.author.id %}"
                                    style="text-decoration: none;font-weight: 500;">{{cmt.author}}</a> <span
                                    class="text-muted">{{cmt.created_on}}</span>
                            </p>
                            {% if request.user == cmt.author %}
                            <div class="d-inline" style="position: absolute;right: 0;">
                                <a href="" data-toggle="tooltip" title="Delete" id="cmt_dlt_btn" data-sid={{cmt.id}}><i
                                        class="fa fa-trash text-danger"></i></a>
                                <a href="" data-toggle="tooltip" title="Edit" id="cmt_edit_open" data-sid={{cmt.id}}><i
                                        class="fa fa-pencil-square-o text-primary"></i></a>
                            </div>
                            {% endif %}
                            <hr class="m-0">
                        </div>

                        {% endfor %}
                        {% endif %}
                    </div>
                    <button class="btn btn-info btn-sm py-0" id="cmt_btn">Add A Comment</button>
                    <button class="btn btn-danger btn-sm py-0" id="cmt_btn_cls" style="display: none;">Close <i
                            class="fa fa-close text-light"></i></button>
                    <form action="" method="POST" id="cmt_form_p" style="display: none;margin-top: 10px;">
                        {% csrf_token %}
                        <input type="hidden" id="cmt_id" name="cmt_id" value="">
                        {{cmt_form}}
                        <input type="submit" value="Submit" class="btn btn-success btn-sm mt-1 submit_cmt_p">
                        <input type="submit" value="Edit" class="btn btn-primary btn-sm mt-1 edit_cmt_p">
                    </form>
                    <div class="mt-2" id="cmt_noti"></div>
                </div>
                {% if success %}
                <p class="alert alert-success alert-dismissible font-weight-bold text-center"><button type="button" class="close"
                        data-dismiss="alert">&times;</button>{{success}}</p>
                {% endif %}
                {% if error %}
                <p class="alert alert-danger alert-dismissible font-weight-bold text-center"><button type="button" class="close"
                        data-dismiss="alert">&times;</button>{{error}}</p>
                {% endif %}
                {% if same_author %}
                <p class="alert alert-info alert-dismissible font-weight-bold text-center"><button type="button" class="close"
                        data-dismiss="alert">&times;</button>{{same_author}}</p>
                {% endif %}
                <div class="solution_list mt-3">
                    <hr>
                    {% if solutions %}
                    <h5>{{total_sol}} Solution{{ total_sol|pluralize:",s" }}</h5>
                    {% for sol in solutions %}
                    <div class="sol_content pl-4">
                        <p>{{sol.s_body|safe}}</p>
                    </div>

                    <div class="row pb-1">
                        <div class="col-6 text-left pr-0">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-success" data-toggle="tooltip" title="Up Vote" data-sid="{{sol.id}}" id="upvote_btn"><i
                                        class="fa fa-arrow-up"></i></button>
                                <button type="button" class="btn btn-light" data-toggle="tooltip"
                                    title="Net Vote" id="vote_number">{{sol.vote}}</button>
                                <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Down Vote" data-sid="{{sol.id}}" id="downvote_btn"><i
                                        class="fa fa-arrow-down"></i></button>
                                        {% if request.user == problem.author and not problem.is_solved %}
                                        <button type="button" class="btn btn-light" data-toggle="tooltip"
                                    title="Select This As Best Answer?" id="select_best_answer" data-sid="{{sol.id}}"><i
                                        class="fa fa-star-o" style="font-size: 18px;"></i></button>
                                        {% endif %}
                                        {% if sol.best_answer %}
                                        <button type="button" class="btn btn-light" data-toggle="tooltip"
                                    title="Question Owner Accepted This As Best Answer"><i
                                        class="fa fa-star text-success" style="font-size: 18px;"></i></button>
                                        {% endif %}
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <div class="sol_date_author">
                                Answered {{sol.created_on}}<br>By <a href="{% url 'profile_view' sol.author.id %}">{{sol.author}}</a>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0">
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="pt-3">
                    <!-- <p class="mb-1">Know someone who can give a solution? Share a link to this question via email,
                        Twitter, or Facebook.</p> -->
                    <h5>Your Solution:</h5>
                    <form action="{% url 'create_solution' problem.id %}" method="POST" id="sol_form">
                        {% csrf_token %}
                        {{sol_form.media}}
                        {{sol_form}}
                        <!-- <input type="hidden" name="id_problem" value="{{problem.id}}"> -->
                        <input type="submit" value="Submit" class="btn btn-success btn-sm pt-1">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "ajax/problem_details.html" %}
{% endblock %}