{% extends "base.html" %}
{% load static %} 
{% block content %}
<div style="background-color: whitesmoke;" id="post_section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 p-2">
                <h5 class="text-center">{{problem.title}}</h5>
                <div class="row text-center">
                    <div class="col-lg-4">
                        <h6 style="font-size: small;">Published By: <a href="" style="text-decoration: none;">{{problem.author}}</a></h6>
                    </div>
                    <div class="col-lg-4">
                        <h6 style="font-size: small;">Published At {{problem.created_on}}</h6>
                    </div>
                    <div class="col-lg-4">
                        {% if problem.is_solved %}
                        <h6 style="font-size: small;">Status: <span class="text-success font-weight-bold">Solved</span></h6>
                        {% else %}
                        <h6 style="font-size: small;">Status: <span class="text-danger font-weight-bold">Unsolved</span></h6>
                        {% endif %}
                    </div>
                </div>
                <p>{{problem.body|safe}}</p>
                <hr>
                {% for tag in problem.tag.all %}
                <h6 class="d-inline-block">
                    <span class="badge badge-secondary p-1">{{tag.name}}</span>
                </h6>
                {% endfor %}
                <br>
                <div class="ml-3">
                    <hr class="m-0">
                    <div id="cmt_p_list">
                        {% if problem.cmts_p.all %}
                    {% for cmt in problem.cmts_p.all %}
                    <div id="cmt_content">
                        <p class="py-1 pl-2 m-0 d-inline"><span id="cmt_body">{{cmt.c_body}}</span> | <a href="" style="text-decoration: none;font-weight: 500;">{{cmt.author}}</a> <span class="text-muted">{{cmt.created_on}}</span>
                        </p>
                        {% if request.user == cmt.author %}
                            <div class="d-inline" style="position: absolute;right: 0;">
                                <a href="" data-toggle="tooltip" title="Delete" id="cmt_dlt_btn" data-sid ={{cmt.id}}><i class="fa fa-trash text-danger"></i></a>
                                <a href="" data-toggle="tooltip" title="Edit" id="cmt_edit_open" data-sid ={{cmt.id}}><i class="fa fa-pencil-square-o text-primary"></i></a>
                            </div>
                        {% endif %}
                        <hr class="m-0">
                    </div>
                    
                    {% endfor %}
                    {% endif %}
                    </div>
                    <button class="btn btn-info btn-sm py-0" id="cmt_btn">Add A Comment</button>
                    <button class="btn btn-danger btn-sm py-0" id="cmt_btn_cls" style="display: none;">Close <i class="fa fa-close text-light"></i></button>
                    <form action="" method="POST" id="cmt_form_p" style="display: none;margin-top: 10px;">
                        {% csrf_token %}
                        <input type="hidden" id="cmt_id" name="cmt_id" value="">
                        {{cmt_form}}
                        <input type="submit" value="Submit" class="btn btn-success btn-sm mt-1 submit_cmt_p">
                        <input type="submit" value="Edit" class="btn btn-primary btn-sm mt-1 edit_cmt_p" >
                    </form>
                </div>
                <div class="pt-3">
                <p class="mb-1">Know someone who can give a solution? Share a link to this question via email, Twitter, or Facebook.</p>
                <h5>Your Solution:</h5>
                <form action="" method="POST" id="sol_form">
                    {{sol_form.media}}
                    {{sol_form}}
                    <input type="submit" value="Submit" class="btn btn-success btn-sm pt-1">
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "ajax/problem_details.html" %}
{% endblock %}