<script>
    $('#cmt_form_p').submit(function(e){
    e.preventDefault();
    
    $.ajax({
      'url': "{% url 'comment_problem' problem.id %}",
      'method': "POST",
      data: $(this).serialize(),
      success: function (data) {
        console.log(data);
        var output,prefix = data.comment_data;
        console.log(data.comment_data)
        output = '<p class="py-1 pl-2 m-0">'+prefix.c_body+' | <a href="" style="text-decoration: none;font-weight: 500;">'+prefix.author+'</a> <span class="text-muted">'+prefix.date+'</span></p><hr class="m-0">';
        console.log(output);
        $('#cmt_form_p').hide();
        $(output).hide().appendTo("#cmt_p_list").fadeIn(1000);

      }
    })
  })
</script>