<!DOCTYPE html>
<html lang="en">
{% load static %} {% load socialaccount %}
{% load notifications_tags %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quick Response</title>
  <link rel="icon" href="{% static 'images/logo.png' %}" type="image/icon type" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <script src="{% static 'main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'owl.carousel.min.css' %}" />
  <script src="{% static 'owl.carousel.min.js' %}"></script>

  <style>
   
   @media screen and (max-width: 425px) {
  .jumbotron {
    min-height: 40vh !important;
  }
  .vote_noti {
  position: fixed;
  top: 0%;
  left: 5%;
  font-size: 10px;
  z-index: 1000;
}
}


  </style>
  <script>

    

  </script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand text-light" href="#" data-toggle="tooltip" title="Menu" id="menu_btn"><i
            class="fa fa-reorder" id="menu_icon"></i></a>
      </li>
    </ul>

    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="{% url 'home_view' %}"><img
            src="{% static 'images/logo.png' %}" alt="Logo" /><span class="nav-title" style="
                color: rgb(238, 228, 163);
                font-family: 'Courier New', Courier, monospace;
              " >Quick</span><span class="nav-title-1" style="color: lightgreen; font-family: var(--font-2);">
            Response</span></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="navbar-brand text-light" id="noti" href="#" data-toggle="tooltip" title="Notification"><i
            class="fa fa-bell text-info"></i><sup class="{% if request.user.notifications.unread.count > 0 %}badge badge-danger{% else %}badge badge-success{% endif %}" style="padding: 2px">{{request.user.notifications.unread.count}}</sup></a>
      </li>
    </ul>
  </nav>
  <div id="my_side_nav" class="bg-dark">
    {% with request.resolver_match.url_name as url_name %}
    <a href="{% url 'home_view' %}" class="{% if url_name == 'home_view' %}text-light{% endif %}">Home</a>
    <a href="{% url 'prob_home' %}" class="{% if 'problems' in request.path %}text-light{% endif %}">Problems</a>
    <a href="{% url 'points' %}" class="{% if 'points' in request.path %}text-light{% endif %}">Points</a>
    {% endwith %} {% if request.user.is_authenticated %}
    <a href="{% url 'profile_view' request.user.id %}" class="text-success"
      style="font-weight: 600">{{request.user}}</a>
    <a href="{% url 'account_logout' %}"><button class="btn btn-danger btn-sm py-0 text-light">
        Logout
      </button></a>
    {% else %}
    <a href="{% url 'account_signup' %}"><button class="btn btn-primary btn-sm py-0 text-light">
        Sign Up
      </button></a>
    <a href="{% url 'account_login' %}?next={{request.path}}"><button class="btn btn-success btn-sm py-0 text-light">
        Login
      </button></a>
    {% endif %}
  </div>
  <!-- <div id="search_bar_sm" class="bg-dark p-2">
    <form class="form-inline" action="/action_page.php">
      <input class="form-control mr-1" type="text" placeholder="Search" />
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div> -->
  <div id="slide_noti" class="bg-dark text-light">
    <div class="text-center">
      <button class="btn btn-info m-2 font-weight-bold py-1">
        Notifications <span class="{% if request.user.notifications.unread.count > 0 %}badge badge-danger{% else %}badge badge-success{% endif %}">{{request.user.notifications.unread.count}}</span>
      </button>
    </div>


    <!-- noti testing -->
    {% for notification in request.user.notifications.unread %}
    <a href="{% url 'notification_op' notification.id %}" style="text-decoration: none;">
      <div class="alert alert-danger mb-1 m-2">
        <p class="mb-0"><b>{{ notification.actor }}</b> {{ notification.verb }} <small style="display: block;text-align: right;">{{notification.timestamp}}</small></p>
      </div>
    </a>
    
    {% endfor %}
    {% for notification in request.user.notifications.read %}
    <a href="/problems/{{notification.target.id}}/details/" style="text-decoration: none;">
      <div class="alert alert-success mb-1 m-2">
        <p class="mb-0"><b>{{ notification.actor }}</b> {{ notification.verb }} <small style="display: block;text-align: right;">{{notification.timestamp}}</small></p>
      </div>
    </a>
    
    {% endfor %}
  </div>
  <div id="main_content">{% block content %}{% endblock %}</div>
  {% if not request.user.is_authenticated %}
  <div class="alert alert-secondary alert-dismissible" id="auth_alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong class="pr-4">Wanna Join Us?</strong>
    <a href="{% url 'account_signup' %}"><button class="btn btn-success btn-sm">Sign Up</button></a>
    <a href="{% url 'account_login' %}?next={{request.path}}"><button class="btn btn-primary btn-sm">Login</button></a>
    <!-- <a href=""><button class="btn btn-info btn-sm "><i class="fa fa-facebook-official" style="font-size: 20px;"></i> Sign In Using Facebook</button></a> -->
    <a href="{% provider_login_url 'google' %}?next={{request.path}}"><button class="btn btn-dark btn-sm">
        <i class="fa fa-google" style="font-size: 20px"></i> Sign In Using
        Google
      </button></a>
    <!-- <a href="{% provider_login_url 'github' %}?next={{request.path}}"><button class="btn btn-secondary btn-sm">
        <i class="fa fa-github" style="font-size: 20px"></i> Sign In Using
        Github
      </button></a> -->
  </div>
  {% endif %}
  <footer>  
    <div class="footer-copyright text-center text-light pt-3 bg-dark" style="font-weight: 600; padding-bottom: 60px">
      © 2021 Copyright:
      <a href="{% url 'home_view' %}" style="font-weight: 700">
        Quick Response</a>
    </div>
  </footer>
</body>

</html>